 <div class="contents row">
    <%= form_for @articles,:url => {:action => :update} do |f| %>
     <%= f.text_field :text, placeholder: "記事", class: "form-control" %>
      <%= f.submit "送信", class: "btn btn-primary withripple" %>
    <% end %>
  </div>


