<div class="contents row">
  <%= form_for @article,:url => {:action => :create} do |f| %>
  <h2>投稿</h2>
      <div class="form-group">
        <div class="col-lg-6">
    <%= f.text_field :text, placeholder: "記事", class: "form-control" %>
    </div>
      </div>
      <div class="form-group">
     <%= f.submit "送信", class: "btn btn-primary withripple" %>
   </div>
  <% end %>
</div>



