<div class ="contents row">
    <% if user_signed_in? && current_user.id == @articles.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/blogs/#{@articles.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/blogs/#{@articles.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= simple_format(@articles.text) %>
  </div>
